@import './variables.scss';

.div-header {
   @extend %div-header-style;
  }
.about-description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $big-margin;
    .right {
        img {
            border-radius: 2rem;
            width: 100%;
            align-content: center;
        }
    }
    .about-store {
        p {
            font-size: $paraghrap-font-size;
            line-height: 1.5;
        }
        .div-subheader {
            color: $dark-purple;
            text-align: center;
            font-weight: $semi-bold;
            line-height: 1.5;
            font-style: italic;
            font-size: $subheader-font-size;
            letter-spacing: 2px;
        }
        span {
            color: $dark-purple;
            font-style: italic;
            font-weight: $semi-bold;
        }
    }
}

.faqs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: $big-margin;

    h2 {
        font-size: $div-header;
    }

    .faqs-text {
        line-height: 1.5;
        margin-top: -3.6rem;
        p {
            font-size: $paraghrap-font-size;
        }
    }
    .faqs-box {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        background-color: $white;
        border: 1px solid $dark-purple;  
        border-radius: 5px;

        .box {
            border-bottom: 1px solid $dark-purple;

            &:last-child {
                border-bottom: none;
            }

            .questions {
                @include flex-center;
                justify-content: space-between;
                cursor: pointer;
                padding: 0 $small-padding;
                color: $dark-purple;

                h2 {
                    font-weight: $semi-bold;
                    font-size: $subheader-font-size;
                }

                .icon {
                    @extend %iconSize; 
                }
            }
            .answer {
                font-size: $paraghrap-font-size;
                color: $dark-grey;
                display: none;
            }
        }
    }
}

//max-width-1200 px
@media (max-width: 1200px) {
    .about-description, .faqs {
        grid-template-columns: 1fr; 
        gap: $small-margin; 
        margin-top: $small-margin;
    }
        .faqs-text {
        margin-top: 0;
      }
}