h2{
    @extend %div-header-style;
  }
.contact-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:$big-margin;
    .contact-type{
font-size: $subheader-font-size;
display:flex;
align-items: center;
text-transform: uppercase;
gap:1rem;
.icon-svg{
      width:2rem;
    }
    }
     .contact-info{
      color:$color-dark;
      font-size: $paraghrap-font-size;
    }
  }
  .contact-form{
    background-color: $white;
    padding: $middle-padding;
    border-radius: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    .form-group{
      @include flex-item;
      flex-direction: column;
    }
    input, textarea{
    width: 100%; 
    padding: 10px; 
    margin-bottom: $small-gap;
    font-size: $paraghrap-font-size;
    color:$dark-purple;
    outline: none;
    border: 2px solid $dark-purple;
    border-radius: 5px;
    &:focus{
      border: 4px solid $dark-purple;
    }
    }
    label{
      font-size: $subheader-font-size;
      font-weight: $semi-bold;
      color:$dark-purple;
      margin-bottom: $small-margin;
      text-align: left;
      width:100%;
    }
    .btn-submit{
    display: block; 
    width: 100%;
    max-width: 200px; 
    margin: 20px auto; 
    padding: 10px; 
    cursor: pointer; 
    background-color:$dark-purple;
    color: $white; 
    border: none; 
    border-radius: 5px;
    text-align: center;
    font-size: $subheader-font-size;
     &:hover{
       @extend %btnHover;
      }
    }
  }
   .contact-slogan{
    color:$dark-purple;
    font-size: $header-font-size;
    font-weight: $semi-bold;
  }
  p{
    font-size: $paraghrap-font-size;
  }
  .social-links{
    p{
      font-weight: $semi-bold;
      text-transform: uppercase;
    }
    .social-icons{
      display: flex;
      gap:$small-gap;
      .social-links{
        width:3.2rem;
        height:3.2rem;
      }
    }

  }
@media (max-width: 900px){
  .contact{
h2{
  margin-bottom: 0;
}
 
  .contact-box{
    grid-template-columns: 1fr;
    padding-top: 0;
    gap:$small-gap;
     .contact-list,
     .contact-form {
      width:100%;
      gap: 0;
      margin-top: 0;
     }
     .contact-us{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap:$small-gap;
      margin-top: $medium-margin;
      h5{
        display: none;
      }
     }
  }
} 
}