@import './variables.scss';

.detail-info{
  display:grid;
  grid-template-columns: 40% 55%;
  gap: 4.8rem;
  margin: 0 $big-margin;
  display: none;
  @media (max-width: 1000px){
    grid-template-columns: 1fr;
    gap: $small-gap;
  }
    .detail-img{
    width:100%;
    height: auto;
    border-radius: 2rem;
}
.detail-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
   @media (max-width: 1000px){
    align-items: center;
   }
  .Product-name{
    @extend %product-name;
    position: relative;
    @media (max-width: 1200px){
      font-size: $header-font-size;
    }
  }
  .Product-name::after,
  .full-description::after {
    content: ""; 
    display: block; 
    height: 1px; 
    background-color: $dark-purple; 
    width: 100%; 
    position: absolute; 
    left: 0; 
    bottom: -8px;
}
  .product-price{
    font-size: $subheader-font-size;
    font-weight: $semi-bold;
     @media (max-width: 1200px){
      font-size: $paraghrap-font-size;
     }
  }
  .full-description {
    font-size: $paraghrap-font-size; 
    line-height: 1.5; 
    position: relative;
     @media (max-width: 1200px){
      font-size: $paraghrap-second-size; 
     }
}
}
.size-box{
  display:flex;
  justify-content: flex-start;
  gap:$gap-size;
  p{
  font-size: $paraghrap-font-size;
  font-weight: $semi-bold;
}
  .size{
    border:2px solid $dark-purple;
    border-radius: 2px;
    font-size: $paraghrap-font-size;
    width:4.8rem;
    height:4.8rem;
    margin-top: $small-margin;
    @media (max-width: 1200px){
    font-size: $paraghrap-second-size;
    width:3.6rem;
    height:3.6rem;
    }
    @include flex-item;
    font-weight: $semi-bold;
    color:$dark-purple;
    &:hover{
      background-color:$dark-purple;
      color:$white;
      cursor: pointer;
    }
  }
}
}
.cards-box{
 @include flex-center;
  gap:$medium-margin;
  padding-top: 0;
}
.bag{
  display: inline-block;
  margin-top: $big-margin;
}
.cart-btn{
    @extend %btnStyle;
      display: block;
       @media (max-width: 1200px){
        
       }
      &:hover{
         @extend %btnHover;
      }
  }


  .add-btn{
  margin-top: $medium-margin;
  margin-bottom: $medium-margin;
  @extend %shopBtn;
  &:hover{
         @extend %btnHover;
      }
}
 .cards{
    display: flex;
    justify-content: flex-start;
    gap: $small-gap;
    cursor: pointer;
     .card{
    width:6.4rem;
    height: auto;
    @media (max-width: 1200px){
      width:4.8rem;
    }
}
}
