.footer {
  width: 100%;
  background-color: $dark-purple;
  color: $white;
  padding: 0 $middle-padding;
  padding-bottom: $middle-padding;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:$gap-size;
    .footer-col {
      font-size: $paraghrap-font-size;
      @include flex-column;
      .links {
        padding: 0; 
        margin: 0; 
        @include flex-column;
        li {
          list-style: none;
          margin-bottom: 10px;
          cursor: pointer;
          text-decoration: none;
          text-align: center;
        }
      }
      .contact-info {
        display: block;
        margin-bottom: 10px;
        a {
          margin-bottom: 10px;
        }
      }
      .footer-icon {
        @extend %iconSize;
        .icons {
          display: flex;
          gap: $small-gap;
        }
      }
      h4 {
        font-size: $subheader-font-size;
        text-align: center;
        letter-spacing: 2px;
        text-transform: capitalize;
        width: 100%;
      }
      p{
        font-size: $paraghrap-font-size;
        margin-top: -10px;
      }
      .form {
        display: flex;
        justify-content: space-between;
        gap:1rem;
        flex-direction: column;
        width:100%;
        input {
          height: 4rem;
          border-radius: 6px;
          background: none;
          outline: none;
          border: 1px solid $white;
          padding-left: 10px;
          color: $white;

          &:focus {
            border: 2px solid $white;
          }
          &::placeholder {
            color: $light-pink;
          }
        }
        button {
          background: $white;
          outline: none;
          border: none;
          padding: 10px 15px;
          border-radius: 6px;
          cursor: pointer;
          font-weight: $semi-bold;
          transition: 0.2s ease;

          &:hover {
            background: $light-pink;
            transform: scale(1.05);
          }
        }
      }
    }
  }

@media (max-width: 1100px) {
  h4{
    font-size: $paraghrap-font-size;
    letter-spacing: 2px;
  }
}
@media (max-width: 900px) {
   .footer {
  grid-template-columns: repeat(2, 1fr);
   gap:0;
}
}

@media (max-width: 560px) {
  .footer {
    padding: 0 $small-padding; /* Adjust padding as needed */
    padding-bottom: $small-padding; /* Ensure padding at the bottom */
  .footer-col {
    font-size: 1.4rem; 
    padding: 0; 
    h4{
      font-size: 1.6rem;
    }
       p {
    font-size: 1.4rem; 
  }
  }
  .form {
    font-size: 1.2rem; 
    display: flex; 
    flex-direction: column; 
    width: 100%; 
  }
}
}