.hero {
  background-image: url("../images/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s ease-in-out;
  position: relative;
  height: 100vh;
  width: 100%;
  position: relative;
  .hero-text{
    position: absolute;
    top:10%;
    left:10%;
    width:80%;
    opacity: 0;
    @extend .fade-in;
    h1{
      font-size: $h1-font-size;
      color:$white;
      font-family: "Bodoni Moda";
    }
    p{
      text-align: center;
      font-size: $div-header;
      color:$white;
      font-weight: $semi-bold;
      font-family: "Bodoni Moda";
    }
    .btn{
      @extend %btnStyle;
      margin: 0 auto;
      display: block;
      &:hover{
        @extend %btnHover;
      }
    }
  }
}