
@import './variables.scss';

.hero {
  background-image: url("../images/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s ease-in-out;
  position: relative;
  height: 100vh;
  width: 100%;
  .hero-text {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    @media (max-width: 560px){
        top:20%;
      }
    h1 {
      font-size: $h1-font-size;
      color: $white; 
      font-family: "Bodoni Moda";
      @media (max-width: 840px){
        font-size: $h1-secondary-font;
      }
       @media (max-width: 540px){
        font-size: $div-header;
      }
    }
    p {
      text-align: center;
      font-size: $div-header; 
      color: $white; 
      margin-top: $small-margin;
      font-weight: $semi-bold; 
      font-family: "Bodoni Moda";
       @media (max-width: 768px){
        font-size:$header-second-font;
      }
    }
    .btn {
      @extend %btnStyle; 
      display: block;
      margin:0 auto;
      width:20rem;
       @media (max-width: 768px){
        margin-top: $medium-margin;
      }
       @media (max-width: 560px){
         font-size: 1.6rem; 
         width: 50%;
      }
      &:hover {
        @extend %btnHover; 
         @media (max-width: 560px){
        font-size: 1.6rem;
      }
      }
    }
  }
}

