
@import './variables.scss';

.hero {
  background-image: url("../images/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s ease-in-out;
  position: relative;
  height: 100vh;
  width: 100%;

  .hero-text {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    opacity: 0;
    @extend .fade-in; // Ensure .fade-in is defined elsewhere

    h1 {
      font-size: $h1-font-size; // Ensure this variable is defined
      color: $white; // Ensure this variable is defined
      font-family: "Bodoni Moda";
    }
    p {
      text-align: center;
      font-size: $div-header; // Ensure this variable is defined
      color: $white; // Ensure this variable is defined
      font-weight: $semi-bold; // Ensure this variable is defined
      font-family: "Bodoni Moda";
    }

    .btn {
      @extend %btnStyle; // Ensure %btnStyle is defined
      margin: 0 auto;
      display: block;

      &:hover {
        @extend %btnHover; // Ensure %btnHover is defined
      }
    }
  }
}
@media (max-width: 840px){
h1{
font-size: 64px;
}
}